@use '../scss/abstracts/index' as abstract;
@use '../scss/components/index' as component;
@use '../scss/base/index' as base;
@use '../scss/vendor/index' as vendor;
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

.swiper-wrapper {
    display: inline-flex;
}

.load {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

.load div {
    width: 25px;
    height: 25px;
    background-color: #f38181;
    margin-left: 5px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-top: calc(50px - 12.5px);
    animation-name: loading;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.load-two {
    animation-delay: 0.4s;
    background-color: #ce5151 !important;
}

.load-three {
    animation-delay: 0.8s;
    background-color: #c03939 !important;
}

@keyframes loading {
    to {
        opacity: 0.3;
        transform: translateY(-25px);
        -webkit-transform: translateY(-25px);
        -moz-transform: translateY(-25px);
        -ms-transform: translateY(-25px);
        -o-transform: translateY(-25px);
    }

}