<section class="parallax-app pt-100 pb-70">
    <div class="title-area" data-aos=fade-up>
        <h4>For all devices</h4>
        <h2>Unique Design</h2>
    </div>
    <div class="app-img">
        <div class="tab" data-aos=fade-right>
            <img src="assets/images/tab.png" alt="">
        </div>
        <div class="phone" data-aos="fade-left">
            <img src="assets/images/phone.png" alt="">
        </div>
    </div>
</section>


<section class="faq-area pt-100 pb-70">
    <div class="container">
        <div class="title-area" data-aos=fade-up>
            <h4>Service</h4>
            <h2>WHAT WE DO</h2>
        </div>
        <div class="row">
            <div class="col-lg-6 pb-30">
                <div class="img-frame">
                    <!-- <img src="assets/images/accordion-bg.jpg" alt=""> -->
                </div>
            </div>
            <div class="col-lg-6 pb-30">
                <div class="faq">
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <button class="accordion-header accordion-button" id="headingOne" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <img src="assets/images/icon/icon5.png" alt="">
                                CREATIVITY
                            </button>
                            <!-- <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                  Accordion Item #1
                                </button>
                              </h2> -->
                          
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <div class="accordion-inner">
                                        <p>Creativity begins with a foundation of knowledge, learning a discipline, and
                                            mastering a way of thinking. You can learn to be creative by experimenting,
                                            exploring, questioning assumptions, using imagination and synthesing
                                            information. Learning to be creative is akin to learning a sport. It
                                            requires practice to develop the right muscles and a supportive environment
                                            in which to flourish.</p>
                                        <p>Beliefs that only special, talented people are creative (and you have to be
                                            born that way) diminish our confidence in our creative abilities. The notion
                                            that geniuses such as Shakespeare, Picasso, and Mozart were `gifted’ is a
                                            myth, according to a study at Exeter University. Researchers examined
                                            outstanding performances in the arts, mathematics, and sports, to find out
                                            if “the widespread belief that to reach high levels of ability a person must
                                            possess an innate potential called talent.”</p>
                                        <p>Creativity is the act of turning new and imaginative ideas into reality.
                                            Creativity is characterised by the ability to perceive the world in new
                                            ways, to find hidden patterns, to make connections between seemingly
                                            unrelated phenomena, and to generate solutions. Creativity involves two
                                            processes: thinking, then producing.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <button class="accordion-header accordion-button" id="headingTwo" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                <img src="assets/images/icon/icon2.png" alt="">
                                WEB DESIGN
                            </button>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <div class="accordion-inner">
                                        <p>Web design refers to the design of websites that are displayed on the
                                            internet. It usually refers to the user experience aspects of website
                                            development rather than software development. Web design used to be focused
                                            on designing websites for desktop browsers; however, since the mid-2010s,
                                            design for mobile and tablet browsers has become ever-increasingly
                                            important.

                                            A web designer works on the appearance, layout, and, in some cases, content
                                            of a website. Appearance, for instance, relates to the colors, font, and
                                            images used. Layout refers to how information is structured and categorized.
                                            A good web design is easy to use, aesthetically pleasing, and suits the user
                                            group and brand of the website. Many webpages are designed with a focus on
                                            simplicity, so that no extraneous information and functionality that might
                                            distract or confuse users appears. As the keystone of a web designer’s
                                            output is a site that wins and fosters the trust of the target audience,
                                            removing as many potential points of user frustration as possible is a
                                            critical consideration.

                                            Two of the most common methods for designing websites that work well both on
                                            desktop and mobile are responsive and adaptive design. In responsive design,
                                            content moves dynamically depending on screen size; in adaptive design, the
                                            website content is fixed in layout sizes that match common screen sizes.
                                            Preserving a layout that is as consistent as possible between devices is
                                            crucial to maintaining user trust and engagement. As responsive design can
                                            present difficulties in this regard, designers must be careful in
                                            relinquishing control of how their work will appear. If they are responsible
                                            for the content as well, while they may need to broaden their skillset, they
                                            will enjoy having the advantage of full control of the finished product.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <button class="accordion-header accordion-button" id="headingThree" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                <img src="assets/images/icon/icon4.png" alt="">
                                PHOTOGRAPHY
                            </button>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <div class="accordion-inner">
                                        <p>Color photography started to become popular and accessible with the release
                                            of Eastman Kodak’s “Kodachrome” film in the 1930s. Before that, almost all
                                            photos were monochromatic – although a handful of photographers, toeing the
                                            line between chemists and alchemists, had been using specialized techniques
                                            to capture color images for decades before. You’ll find some fascinating
                                            galleries of photos from the 1800s or early 1900s captured in full color,
                                            worth exploring if you have not seen them already.

                                            These scientist-magicians, the first color photographers, are hardly alone
                                            in pushing the boundaries of one of the world’s newest art forms. The
                                            history of photography has always been a history of people – artists and
                                            inventors who steered the field into the modern era.

                                            So, below, you’ll find a brief introduction to some of photography’s most
                                            important names. Their discoveries, creations, ideas, and photographs shape
                                            our own pictures to this day, subtly or not. Although this is just a brief
                                            bird’s-eye view, these nonetheless are people you should know before you
                                            step into the technical side of photography</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>