<section class="pt-100 pb-70" id="work">
    <div>
        <div class="title-area" data-aos = fade-up>
            <h4>What we do</h4>
            <h2>SOME OF OUR WORKS</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque illum nihil obcaecati velit nam, dicta provident inventore ipsam reiciendis sed praesentium fugiat eveniet quam amet facere expedita laboriosam unde iure?</p>
        </div>

        <div class="img-grid-wrapper">
            <div class="img-grid" data-aos="fade-up">
                <img src="assets/images/masonery/masonery-1.jpg" alt="">
                <div class="img-content">
                    <i class="fas fa-image"></i>
                    <h3>CREATIVE DESIGN</h3>
                    <p>Lorem ipsum dolor</p>
                </div>
            </div>
            <div class="img-grid" data-aos="fade-up">
                <img src="assets/images/masonery/masonery-2.jpg" alt="">
                <div class="img-content">
                    <i class="fas fa-image"></i>
                    <h3>CREATIVE DESIGN</h3>
                    <p>Lorem ipsum dolor</p>
                </div>
            </div>
            <div class="img-grid portrait" data-aos="fade-up">
                <img src="assets/images/masonery/masonery-5.jpg" alt="">
                <div class="img-content">
                    <i class="fas fa-image"></i>
                    <h3>CREATIVE DESIGN</h3>
                    <p>Lorem ipsum dolor</p>
                </div>
            </div>
            <div class="img-grid" data-aos="fade-up">
                <img src="assets/images/masonery/masonery-3.jpg" alt="">
                <div class="img-content">
                    <i class="fas fa-image"></i>
                    <h3>CREATIVE DESIGN</h3>
                    <p>Lorem ipsum dolor</p>
                </div>
            </div>
            <div class="img-grid">
                <img src="assets/images/masonery/masonery-4.jpg" alt="">
                <div class="img-content">
                    <i class="fas fa-image"></i>
                    <h3>CREATIVE DESIGN</h3>
                    <p>Lorem ipsum dolor</p>
                </div>
            </div>
            <div class="img-grid" data-aos="fade-up">
                <img src="assets/images/masonery/masonery-6.jpg" alt="">
                <div class="img-content">
                    <i class="fas fa-image"></i>
                    <h3>CREATIVE DESIGN</h3>
                    <p>Lorem ipsum dolor</p>
                </div>
            </div>
            <div class="img-grid" data-aos="fade-up">
                <img src="assets/images/masonery/masonery-7.jpg" alt="">
                <div class="img-content">
                    <i class="fas fa-image"></i>
                    <h3>CREATIVE DESIGN</h3>
                    <p>Lorem ipsum dolor</p>
                </div>
            </div>
        </div>


        <!-- <div class="row g-0 img-grid-wrapper">
            <div class="col-lg-6">
                <div class="row g-0">
                    <div class="col-md-6">
                        <div class="img-grid">
                            <div class="img-frame">
                                <img src="assets/images/masonery/masonery-4.jpg" alt="">
                            </div>
                            <div class="img-content">
                                <i class="fas fa-image"></i>
                                <h3>CREATIVE DESIGN</h3>
                                <p>Lorem ipsum dolor</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="img-grid">
                            <div class="img-frame">
                                <img src="assets/images/masonery/masonery-1.jpg" alt="">
                            </div>
                            <div class="img-content">
                                <i class="fas fa-image"></i>
                                <h3>CREATIVE DESIGN</h3>
                                <p>Lorem ipsum dolor</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="img-grid">
                            <div class="img-frame">
                                <img src="assets/images/masonery/masonery-2.jpg" alt="">
                            </div>
                            <div class="img-content">
                                <i class="fas fa-image"></i>
                                <h3>CREATIVE DESIGN</h3>
                                <p>Lorem ipsum dolor</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="img-grid">
                            <div class="img-frame">
                                <img src="assets/images/masonery/masonery-6.jpg" alt="">
                            </div>
                            <div class="img-content">
                                <i class="fas fa-image"></i>
                                <h3>CREATIVE DESIGN</h3>
                                <p>Lorem ipsum dolor</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row g-0">
                    <div class="col-md-6">
                        <div class="img-grid portrait">
                            <div class="img-frame">
                                <img src="assets/images/masonery/masonery-5.jpg" alt="">
                            </div>
                            <div class="img-content">
                                <i class="fas fa-image"></i>
                                <h3>CREATIVE DESIGN</h3>
                                <p>Lorem ipsum dolor</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="img-grid">
                            <div class="img-frame">
                                <img src="assets/images/masonery/masonery-6.jpg" alt="">
                            </div>
                            <div class="img-content">
                                <i class="fas fa-image"></i>
                                <h3>CREATIVE DESIGN</h3>
                                <p>Lorem ipsum dolor</p>
                            </div>
                        </div>
                        <div class="img-grid">
                            <div class="img-frame">
                                <img src="assets/images/masonery/masonery-7.jpg" alt="">
                            </div>
                            <div class="img-content">
                                <i class="fas fa-image"></i>
                                <h3>CREATIVE DESIGN</h3>
                                <p>Lorem ipsum dolor</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</section>