<!-- <section class="hero-section">
    <div class="hero-content container">
        <owl-carousel-o [options]="heroOption">
            <ng-template carouselSlide>
                <h4>Creative Template</h4>
                <h1>Welcome To <br> Mogo</h1>
                <div class="bar"></div>
                <div class="my-4 pt-4">
                    <a routerLink="/contact">LEARN MORE</a>
                </div>
            </ng-template>

            <ng-template carouselSlide>
                <h4>Creative Template</h4>
                <h1>Believe In <br> Mogo</h1>
                <div class="bar"></div>
                <div class="my-4 pt-4">
                    <a routerLink="/contact">LEARN MORE</a>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <h4>Creative Template</h4>
                <h1>Stay With <br> Mogo</h1>
                <div class="bar"></div>
                <div class="my-4 pt-4">
                    <a routerLink="/contact">LEARN MORE</a>
                </div>
            </ng-template>
        </owl-carousel-o>
        <div class="pt-4">
        </div>
    </div>
</section> -->

<section class="hero-section">
    <div class="container">
        <div class="hero-content-wrap">
            <!-- <swiper [config]="heroSlider" class="instagram-swiper">
                <ng-template swiperSlide>
                    <div class="hero-content">
                        <h4>Creative Template</h4>
                        <h1>Welcome<br> To Mogo</h1>
                        <div class="hero-btn">
                            <a routerLink="/contact">LEARN MORE</a>
                        </div>
                    </div>
                </ng-template>
                <ng-template swiperSlide>
                    <div class="hero-content">
                        <h4>Creative Template</h4>
                        <h1>Believe In <br> Mogo</h1>
                        <div class="hero-btn">
                            <a routerLink="/contact">LEARN MORE</a>
                        </div>
                    </div>
                </ng-template>
            </swiper> -->

            <owl-carousel-o [options]="heroOption">
                <ng-template carouselSlide>
                    <div class="hero-content">
                        <h4>Creative Template</h4>
                        <h1>Welcome<br> To Mogo</h1>
                        <div class="hero-btn">
                            <a routerLink="/contact">LEARN MORE</a>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="hero-content">
                        <h4>Creative Template</h4>
                        <h1>Believe<br> In Mogo</h1>
                        <div class="hero-btn">
                            <a routerLink="/contact">LEARN MORE</a>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="hero-content">
                        <h4>Creative Template</h4>
                        <h1>Stay With <br> Mogo</h1>
                        <div class="hero-btn">
                            <a routerLink="/contact">LEARN MORE</a>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</section>