@use 'variables' as abstract;
@use 'mixins' as *;

// .hero-section {
//     height: 100%;
//     padding: 450px 0;
//     width: 100%;
//     position: relative;
//     background: url("../../../../../assets/images/herobg.png") no-repeat;
//     background-position: 100%;

//     @include respond-to(max-large) {
//         height: 100%;
//         padding: 350px 0;
//     }

//     @include respond-to(max-medium) {
//         height: 100%;
//         padding: 300px 0;
//     }

//     @include respond-to(max-small) {
//         padding: 280px 0 150px 0;
//     }

//     .hero-content {
//         position: absolute;
//         top: 50%;
//         left: 50%;
//         transform: translate(-50%, -50%);
//         text-align: center;

//         h4 {
//             font-family: 'Kaushan Script', cursive;
//             font-size: 72px;
//             color: #fff;
//             margin-bottom: 1rem
//         }

//         h1 {
//             @include font-size-rem(120);
//             color: #fff;
//             text-transform: uppercase;
//             font-weight: 700;
//             margin-bottom: 1.5rem;
//         }

//         a {
//             text-decoration: none;
//             color: #fff;
//             padding: 16px 70px;
//             border: 3px solid #fff;
//             font-size: 14px;
//             font-weight: 600;
//             transition: .3s;

//             &:hover {
//                 background-color: #fff;
//                 color: #333333;
//             }
//         }
//     }

//     @include respond-to(max-large) {
//         .hero-content {
//             h4 {
//                 font-size: 40px;
//             }

//             h1 {
//                 font-size: 80px;
//             }
//             a{
//                 padding: 10px 40px;
//             }
//         }
//     }

//     @include respond-to(max-small) {
//         .hero-content {
//             h4 {
//                 font-size: 30px;
//             }

//             h1 {
//                 font-size: 40px;
//             }
//         }
//     }
//     @include respond-to(max-xs-small) {
//         .hero-content {
//             h4 {
//                 font-size: 26px;
//             }

//             h1 {
//                 font-size: 36px;
//             }
//             a{
//                 padding: 6px 20px;
//                 font-size: 12px;
//             }
//         }
//     }
// }

.hero-section {
    height: 100%;
    width: 100%;
    position: relative;
    background: url("../../../../../assets/images/herobg.png") no-repeat;
    background-position: 100%;
    background-size: cover;

    .hero-content-wrap {
        // padding: 430px 0;
        position: relative;

        .hero-content {
            // position: absolute;
            // top: 50%;
            // left: 50%;
            // transform: translate(-50%, -50%);
            // text-align: center;
            // margin: auto;
            text-align: center;
            padding-top: 225px;
            padding-bottom: 230px;
            margin-top: 80px;

            h4 {
                font-family: 'Kaushan Script', cursive;
                font-size: 72px;
                color: #fff;
                margin-bottom: 1rem;
                // border: 1px solid red;
            }

            h1 {
                @include font-size-rem(120);
                color: #fff;
                text-transform: uppercase;
                font-weight: 700;
                margin-bottom: 1.5rem;
            }

            .hero-btn {
                margin-top: 50px;

                a {
                    text-decoration: none;
                    color: #fff;
                    padding: 16px 70px;
                    border: 3px solid #fff;
                    font-size: 14px;
                    font-weight: 600;
                    transition: .3s;

                    &:hover {
                        background-color: #fff;
                        color: #333333;
                    }
                }
            }

            @include respond-to (larger) {
                padding-top: 180px;
                padding-bottom: 185px;
            }

            @include respond-to(max-large) {
                padding-top: 50px;
                padding-bottom: 100px;

                br {
                    display: none;
                }

                h4 {
                    font-size: 42px;
                }

                h1 {
                    @include font-size-rem(75);
                }

                .hero-btn {
                    margin-top: 35px;

                    a {
                        padding: 12px 40px;
                    }
                }
            }

            @include respond-to(max-small) {
            //     padding-top: 225px;
            // padding-bottom: 230px;

                h4 {
                    font-size: 22px;
                }

                h1 {
                    @include font-size-rem(30);
                }

                .hero-btn {
                    margin-top: 25px;

                    a {
                        padding: 6px 20px;
                        font-size: 12px;
                    }
                }
            }
        }
    }
}