.go-top{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 999;
    cursor: pointer;
    button{
        font-size: 1rem;
        border: none;
        flex:  0 0 auto;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        background-color: #f38181;
        color: #fff;
    }
}

.goTopOff{
    opacity: 0;
    transform: translateY(-100px);
    transition: .3s ease-in-out;
}

.goTopOn{
    opacity: 1;
    transform: translateY(0);
    transition: .3s ease-in-out;
}