<section class="pb-100 pt-30">
    <div class="container owl-nav-1">
        <owl-carousel-o [options]="reviewOption">
            <ng-template carouselSlide>
                <div class="col-lg-8 mx-auto review-slider">
                    <div class="review-slider_img-frame">
                        <img src="assets/images/testimonial/testimonial-1.jpg" alt="">
                    </div>
                    <div class="review-slider_details">
                        <p>"Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis illo eius delectus dicta
                            molestias, sed, repudiandae labore sit totam impedit quas, nisi sint placeat animi voluptate
                            sunt similique a odio."</p>
                        <h3>Jhon Dao</h3>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="col-md-8 mx-auto review-slider">
                    <div class="review-slider_img-frame">
                        <img src="assets/images/testimonial/testimonial-2.jpg" alt="">
                    </div>
                    <div class="review-slider_details">
                        <p>"Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis illo eius delectus dicta
                            molestias, sed, repudiandae labore sit totam impedit quas, nisi sint placeat animi voluptate
                            sunt similique a odio."</p>
                        <h3>Jhon Dao</h3>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="col-md-8 mx-auto review-slider">
                    <div class="review-slider_img-frame">
                        <img src="assets/images/testimonial/testimonial-3.jpg" alt="">
                    </div>
                    <div class="review-slider_details">
                        <p>"Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis illo eius delectus dicta
                            molestias, sed, repudiandae labore sit totam impedit quas, nisi sint placeat animi voluptate
                            sunt similique a odio."</p>
                        <h3>Jhon Dao</h3>
                    </div>
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
</section>

<section class="review-section pt-100 pb-70">
    <div class="container">
        <div class="title-area">
            <h4>Happy Clients</h4>
            <h2>WHat People Say</h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="each-review">
                    <div class="each-review_img">
                        <img src="assets/images/testimonial/testimonial-1.jpg" alt="">
                    </div>
                    <div class="each-review_details">
                        <h3>Matti-Ex Dix</h3>
                        <h4>Graphics Design</h4>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis cupiditate cumque
                            temporibus consequatur libero est?</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="each-review">
                    <div class="each-review_img">
                        <img src="assets/images/testimonial/testimonial-1.jpg" alt="">
                    </div>
                    <div class="each-review_details">
                        <h3>Karma Mia</h3>
                        <h4>Software Engineer</h4>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis cupiditate cumque
                            temporibus consequatur libero est?</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="each-review">
                    <div class="each-review_img">
                        <img src="assets/images/testimonial/testimonial-2.jpg" alt="">
                    </div>
                    <div class="each-review_details">
                        <h3>Eliana Dicruz</h3>
                        <h4>Web Designer</h4>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis cupiditate cumque
                            temporibus consequatur libero est?</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="each-review">
                    <div class="each-review_img">
                        <img src="assets/images/testimonial/testimonial-3.jpg" alt="">
                    </div>
                    <div class="each-review_details">
                        <h3>Jacky Chan</h3>
                        <h4>Food Vloger</h4>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis cupiditate cumque
                            temporibus consequatur libero est?</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- <h1>Hello</h1> -->
    </div>
</section>