<div class="our-partner owl-nav-1 ptb-100">
  <div class="container brand-area">
    <owl-carousel-o [options]="brandOption">
      <ng-template carouselSlide>
        <div class="brand-img">
          <img src="assets/images/partner/partner-1.png" alt="">
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="brand-img">
          <img src="assets/images/partner/partner-2.png" alt="">
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="brand-img">
          <img src="assets/images/partner/partner-6.png" alt="">
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="brand-img">
          <img src="assets/images/partner/partner-3.png" alt="">
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="brand-img">
          <img src="assets/images/partner/partner-4.png" alt="">
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="brand-img">
          <img src="assets/images/partner/partner-5.png" alt="">
        </div>
      </ng-template>
    </owl-carousel-o>
  </div>
</div>