<section class="blog-area pt-100 pb-70" id="blog">
    <div class="container">
        <div class="title-area" data-aos = fade-up>
            <h4>Our stories</h4>
            <h2>Latest Blog</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente rerum nemo suscipit dolor. Et
                recusandae laborum sequi inventore nesciunt consequuntur!</p>
        </div>
        <div class="row" data-aos="fade-up" data-duration = "3000ms">
            <div class="col-md-4 col-sm-6 pb-30">
                <div class="single-blog">
                    <div class="blog-img">
                        <div class="img-frame">
                            <img src="assets/images/blog/blog-1.jpg" alt="">
                        </div>
                        <div class="date">
                            <h2>15</h2>
                            <h5>Jan</h5>
                        </div>
                    </div>
                    <h3>Kodomo, ipsum dolor.</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, cumque!</p>
                    <ul>
                        <li><i class="fas fa fa-eye"></i> <span>1M</span></li>
                        <li><i class="fas fa-comment"></i> <span>33k</span></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 pb-30">
                <div class="single-blog">
                    <div class="blog-img">
                        <div class="img-frame">
                            <img src="assets/images/blog/blog-2.jpg" alt="">
                        </div>
                        <div class="date">
                            <h2>22</h2>
                            <h5>Apr</h5>
                        </div>
                    </div>
                    <h3>Kodomo, ipsum dolor.</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, cumque!</p>
                    <ul>
                        <li><i class="fas fa fa-eye"></i> <span>1M</span></li>
                        <li><i class="fas fa-comment"></i> <span>33k</span></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 offset-sm-3 offset-md-0 pb-30">
                <div class="single-blog">
                    <div class="blog-img">
                        <div class="img-frame">
                            <img src="assets/images/blog/blog-3.jpg" alt="">
                        </div>
                        <div class="date">
                            <h2>12</h2>
                            <h5>Feb</h5>
                        </div>
                    </div>
                    <h3>Kodomo, ipsum dolor.</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, cumque!</p>
                    <ul>
                        <li><i class="fas fa fa-eye"></i> <span>1M</span></li>
                        <li><i class="fas fa-comment"></i> <span>33k</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="view-more" data-aos="fade-up" data-duration = "6000ms">
            <a href="/blog-details">View More</a>
        </div>
    </div>
</section>